.vscode/**
.vscode-test/**
.github/**
scripts/**
out/test/**
out/**/*.map
src/**
client/src/**
server/src/**
.gitignore
.gitattributes
**/.git/**
**/.gitignore
**/.DS_Store
**/Thumbs.db
*.vsix
/node_modules/**
client/testFixture/**
client/tsconfig.json
client/package-lock.json
server/tsconfig.json
server/package-lock.json
tsconfig.json
vsc-extension-quickstart.md
tslint.json
**/*.old*